<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="${titulo}"></title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
</head>
<body>


<!-- NavBAr -->


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Spring Boot</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" th:href="@{/listar}">Lista <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>


<!--  -->

<div class="container">
<h1 class ="text-secondary border border-success border-top-0 border-left-0 border-right-0" th:text="${titulo}"></h1>


<!--  FORM  -->

	<form th:action="@{/form}" th:object="${cliente}" method="post">

		<!-- Tabla en forma del formulario -->

		<table class="table table-bordered">

			<tr>
				<td style="width: 200px">Nombre</td>

				<td> <input type="text" th:field="*{nombre}" > 
					<small th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
				
				</td>
			</tr>
			
			<tr>
				<td>Apellido</td>

				<td> <input type="text" th:field="*{apellido}" >
					<small th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></small>
				 </td>
			</tr>
			
			<tr>
				<td>Email</td>

				<td> <input type="text" th:field="*{email}" > 
				<small th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
				</td>
			</tr>
			
			
			<tr>
				<td>Fecha</td>

				<td> <input type="date" th:field="*{createAt}" > 
				<small th:if="${#fields.hasErrors('createAt')}" th:errors="*{createAt}"></small>
				</td>
			</tr>
			
			
			<tr>

				<td> <input type="submit" value="Crear Cliente"> 
				</td>
			</tr>

		</table>
		
		<!-- ID de la tupla -->
		
		<input type="hidden" th:field="*{id}">

	</form>
	
	</div>
</body>
</html>